<h2>Rendering</h2>
<h3>Paging, Virtual Scrolling, Endless Scrolling</h3>
<a href="https://www.telerik.com/kendo-angular-ui/components/grid/paging/" target="_blank">Kendo Angular Grid with Paging</a>
<a href="https://www.telerik.com/kendo-angular-ui/components/pager/" target="_blank">Kendo Angular Pager</a>
<a href="https://www.telerik.com/kendo-angular-ui/components/grid/scroll-modes/virtual/" target="_blank">Grid Virtual Scrolling</a>
<a href="https://www.telerik.com/kendo-angular-ui/components/grid/scroll-modes/#endless-scrolling" target="_blank">Grid Endless Scrolling</a>
<a href="https://material.angular.io/cdk/scrolling/overview" target="_blank">Angular Material CDK Virtual Scrolling</a>
<a href="https://material.angular.io/components/paginator/overview" target="_blank">Material Paginator</a>
<h3>TrackBy</h3>
<a href="https://angular.io/guide/built-in-directives#ngfor-with-trackby" target="_blank">TrackBy Angular Docs</a>
<a href="https://medium.com/@jinalshah999/trackby-with-ngfor-directives-in-angular-application-bd4d0db288eb" target="_blank">
  TrackBy with ngFor Directives in Angular Application
</a>
<h3>Manual and Progressive Rendering</h3>
<a href="https://blog.bitsrc.io/3-ways-to-render-large-lists-in-angular-9f4dcb9b65" target="_blank">Render Large Lists in Angular</a>
<h2>Change Detection</h2>
<h3>Production Mode</h3>
<a href="https://angular.io/guide/deployment#production-optimizations" target="_blank">Production Optimizations</a>
<a href="https://medium.com/@lukaonik/what-is-the-difference-between-production-and-development-mode-in-angular-3eed82b9cf73" target="_blank">Production vs Dev Mode</a>
<h3>Optimize Template Bindings</h3>
<a href="https://www.youtube.com/watch?v=ybNj-id0kjY" target="_blank">Optimizing an Angular Application (Minko Gechev)</a>
<a href="https://angular.io/guide/pipes#detecting-changes-with-data-binding-in-pipes" target="_blank">Detecting Changes with Data Binding in Pipes</a>
<a href="https://blog.usejournal.com/angular-optimization-memoized-pipe-functions-in-templates-75f62e16df5a" target="_blank">Memoized Pipe Functions in Templates</a>
<h3>DOM Events Outside Angular</h3>
<a href="https://medium.com/javascript-everyday/adding-event-listeners-outside-of-the-angular-zone-a22f9cfc80eb" target="_blank">Adding Event Listeners Outside of the Angular Zone</a>
<a href="https://netbasal.com/optimizing-angular-change-detection-triggered-by-dom-events-d2a3b2e11d87" target="_blank">Optimizing Angular Change Detection Triggered by DOM Events</a>
<h3>Change Detection Strategy</h3>
<a href="https://www.digitalocean.com/community/tutorials/angular-change-detection-strategy" target="_blank">Angular Change Detection Strategy</a>
<a href="https://indepth.dev/everything-you-need-to-know-about-change-detection-in-angular/" target="_blank">Everything You Need to Know About Change Detection in Angular</a>
<h2>Data and Module Loading</h2>
<h3>Caching</h3>
<a href="https://blog.angulartraining.com/how-to-cache-the-result-of-an-http-request-with-angular-f9aebd33ab3" target="_blank">Cache HTTP Request Results</a>
<a href="https://medium.com/angular-in-depth/fastest-way-to-cache-for-lazy-developers-angular-with-rxjs-444a198ed6a6" target="_blank">Fastest Ways to Cache with RxJS</a>
<a href="https://medium.com/better-programming/how-to-create-a-caching-service-for-angular-bfad6cbe82b0" target="_blank">How to Create a Caching Service</a>
<h3>Lazy Loading and Preloading</h3>
<a href="https://angular.io/guide/lazy-loading-ngmodules#lazy-loading-basics" target="_blank">Lazy Loading Basics</a>
<a href="https://web.dev/route-preloading-in-angular/" target="_blank">Route Preloading in Angular</a>
<a href="https://medium.com/angular-in-depth/network-aware-preloading-strategy-for-angular-lazy-loading-b883a0fbbaf0" target="_blank">Network Aware Preloading Strategy</a>
<h3>Route Resolvers</h3>
<a href="https://angular.io/guide/lazy-loading-ngmodules#preloading-component-data" target="_blank">Preloading Component Data</a>
<a href="https://www.digitalocean.com/community/tutorials/angular-route-resolvers" target="_blank">Angular Route Resolvers</a>
<h2>Testing</h2>
<a href="https://codecraft.tv/courses/angular/unit-testing/classes-and-pipes/" target="_blank">Classes and Pipes</a>
<a href="https://codecraft.tv/courses/angular/unit-testing/mocks-and-spies/" target="_blank">Mocks and Spies</a>
<a href="https://codecraft.tv/courses/angular/unit-testing/angular-test-bed/#_when_to_use_atb" target="_blank">When to Use Angular TestBed</a>
